@import '~normalize-scss/sass/normalize/import-now';
@import 'breakpoints';
@import 'colors';
@import 'typography';
@import 'vars';
@import 'grid';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: $font--base;
  font-size: 1rem;
  line-height: 1;
  color: $color--black;
  background-color: $color--white;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.text {
  font-size: 1rem;
  line-height: 1.5;

  + .text {
    margin-top: 0.5rem;
  }
}

.layout {
  padding: 100px 0;
}

.container {
  position: relative;
  width: auto;
  margin: $spacer * 2;
  box-sizing: content-box;

  @include lg {
    max-width: 1120px;
    margin: 0 auto;
  }
}

.footer {
  padding: 100px 0 0;
  opacity: 1;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70 + $spacer * 3 * 2;
  background: rgba($color--white, 0.2);
  backdrop-filter: blur(4px);
  z-index: 101;

  &.opened {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba($color--white, 0.5);
    backdrop-filter: blur(4px);
    z-index: 99;
  }

  &__action {
    position: fixed;
    left: calc(50% - 35px);
    bottom: $spacer * 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: $color--violet;
    border-radius: 50%;
    border: 0;
    color: $color--white;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
      transform: scale(1.2);
    }

    &.close {
      transform: rotate(45deg);

      &:hover {
        transform: rotate(45deg) scale(1.2);
      }
    }
  }
}

.notes {
  margin-bottom: $spacer * 4;
}

.note {
  position: relative;
  margin-bottom: $spacer * 2;
  border-radius: 5px;

  &__action {
    position: absolute;
    top: $spacer / 2;
    right: $spacer / 2;
    background: transparent;
    border: 0;
    cursor: pointer;
    color: currentColor;
    transition: 0.5s all;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__toggle {
    padding: $spacer * 3;
    background: transparent;
    border: 0;
    cursor: pointer;
    color: inherit;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
  }

  &.violet {
    background: $color--violet;
    color: $color--white;
  }

  &.white {
    background: $color--white-pink;
    color: $color--violet;
  }

  &.black {
    background: $color--black;
    color: $color--white;
  }

  &.grey {
    background: $color--grey;
    color: $color--black;
  }

  &.white-violet {
    background: $color--white-violet;
    color: $color--violet;
  }
}

.form {
  &__input {
    background: transparent;
    color: inherit;
    width: 100%;
    padding: $spacer * 2;
    border: 0;
    border-bottom: 1px solid currentColor;
  }

  &__footer {
    display: flex;
    width: 100%;
    padding-top: $spacer;
  }

  &__action {
    width: 50%;
    background: transparent;
    color: inherit;
    text-align: center;
    border: 0;
    padding: $spacer / 2 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
  }

  &.edit-note {
    padding-bottom: $spacer;
  }

  &.new-note {
    position: fixed;
    left: calc(50% - 150px);
    bottom: -200px;
    color: $color--white;
    width: 300px;
    border-radius: 5px;
    padding-bottom: $spacer;
    background: $color--violet;
    transition: 0.5s all;
    opacity: 0;
    pointer-events: none;
    z-index: 100;

    &.visible {
      bottom: 180px;
      pointer-events: unset;
      opacity: 1;
    }

    &::after {
      position: absolute;
      left: calc(50% - 20px);
      bottom: -20px;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0 20px;
      border-color: $color--violet transparent transparent transparent;
    }
  }
}

.not-scroll {
  overflow: hidden;
}

.notification {
  color: $color--grey-darker;
}

.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacer 0 0;

  &__item {
    + .color-picker__item {
      margin-left: 10px;
    }
  }

  &__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $color--white-darker;
    cursor: pointer;

    &.violet {
      background: $color--violet;
    }

    &.white {
      background: $color--white-pink;
    }

    &.black {
      background: $color--black;
    }

    &.grey {
      background: $color--grey;
    }

    &.white-violet {
      background: $color--white-violet;
    }

    &.selected {
      outline: 2px dotted $color--white-pink;
    }
  }
}